/* Responsive Styles for All Pages */

/* General Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    #p1 {
        font-size: large;
        margin-top: -30px;
    }

    table {
        padding-left: 10%;
        font-size: medium;
    }

    input {
        height: 50px;
        width: 200px;
        font-size: medium;
    }

    button {
        height: 50px;
        width: 200px;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
    }

    #rs {
        flex-direction: column;
        width: 90%;
        gap: 10px;
        font-size: medium;
    }

    #resultImage {
        width: 60px;
        height: 60px;
    }

    #relationshipText {
        font-size: 20px;
    }
}

/* Very Small Screens (Mobile Phones) */
@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    #p1 {
        font-size: small;
    }

    table {
        padding-left: 5%;
        font-size: small;
    }

    input {
        height: 40px;
        width: 150px;
        font-size: small;
    }

    button {
        height: 40px;
        width: 150px;
        font-size: medium;
    }

    #rs {
        font-size: small;
        padding: 10px;
    }

    #resultImage {
        width: 50px;
        height: 50px;
    }

    #relationshipText {
        font-size: 16px;
    }
}
