body {

    color: white;
}
.atf{
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
}

#p1 {
    text-align: center;
    font-size: x-large;
    margin-top: -45px;
}

table {
    text-align: center;
    padding-left: 27%;
    padding-top: 1.5%;
    font-size: x-large;
}

input {
    height: 60px;
    width:100%;         /*width: 260px;*/
    border-radius: 56%;
    text-align: center;
    margin: 7%;
    margin-right: 20px;
    border-color: white;
    color: #fc3838;
    font-size: large;
    background-color: snow;
}

button {
    background-color:pink;
    color: #fc3838;
    margin-left: 600px;
    height: 65px;
    width: 236px;
    border-radius: 32px;
    font-size: x-large;
    cursor: pointer;
}

.result {
    font-size: 2rem;
    color: #A7db32;
    text-align: center;
    margin-top: 20px;
}

button:hover {
    background-color: #fc386c;
    color: white;
    border: 2px solid #fc386c;
}


