body{
    background-color: #fc386c;
    color: white;
}

h1{
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
}

#p1{
    text-align: center;
    font-size: x-large;
    margin-top: -45px;
}

table{
    text-align: center;
    padding-left: 27%;
    padding-top: 1.5%;
    font-size: x-large;
}

input{
    height: 60px;
    width: 260px;
    border-radius: 56%;
    text-align: center;
    margin: 7%;
    margin-right: 20px;
    border-color: white;
    color: #fc3838;
    font-size: large;
    background-color: snow;
}

button{
    
    background-color:pink;
    color: #fc3838;
    margin-left: 600px;
    margin-top: 15px;
    height: 65px;
    width: 236px;
    border-radius: 32px;
    font-size: x-large;
    cursor: pointer;
}


.inputarea{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.flames{
    font-family: 'Times new Roman',cursive;
    font-size: 3.5rem;

    color:#A7db32;
    text-align: center;
}

.spotlightcenter{
    width: 100%;
    height: 30px;
    padding-left: 10%;
}
.spotlight{
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 2%;
    margin-left: 4%;
    visibility: hidden;
}


#light1{
    visibility: visible;
    box-shadow:
    0 0 7px #c608d1,
    0 0 10px #c608d1,
    0 0 21px #c608d1,
    0 0 42px #c608d1,
    0 0 82px #FF009E,
    0 0 92px #FF009E,
    0 0 102px #C597C4,
    0 0 151px #C597C4;
}




body { 
    background-color: #fc386c;
    color: white;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
}

#p1 {
    text-align: center;
    font-size: x-large;
    margin-top: -45px;
}

table {
    text-align: center;
    padding-left: 27%;
    padding-top: 1.5%;
    font-size: x-large;
}

input {
    height: 60px;
    width: 260px;
    border-radius: 56%;
    text-align: center;
    margin: 7%;
    margin-right: 20px;
    border-color: white;
    color: #fc3838;
    font-size: large;
    background-color: snow;
}

button {
    background-color: pink;
    color: #fc3838;
    margin-left: 600px;
    margin-top: 15px;
    height: 65px;
    width: 236px;
    border-radius: 32px;
    font-size: x-large;
    cursor: pointer;
}

.inputarea {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.flames {
    font-family: 'Times New Roman', cursive;
    font-size: 3.5rem;
    color: #A7db32;
    text-align: center;
}

.spotlightcenter {
    width: 100%;
    height: 30px;
    padding-left: 10%;
}

.spotlight {
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 2%;
    margin-left: 4%;
    visibility: hidden;
}

#light1 {
    visibility: visible;
    box-shadow: 
        0 0 7px #c608d1,
        0 0 10px #c608d1,
        0 0 21px #c608d1,
        0 0 42px #c608d1,
        0 0 82px #FF009E,
        0 0 92px #FF009E,
        0 0 102px #C597C4,
        0 0 151px #C597C4;
}

#rs {
    display: none;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#resultImage {
    display: block;
    max-width: 100%;
    height: 80px;
    border-radius: 50%;
   /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

#relationshipText {
    font-size: 50px;
    font-weight: bold;
    color: #555;
    line-height: 1.5;
    text-align: center;
    padding-top: 20px;
}
